* {
	margin:0;
	padding:0;}
	
body {
	padding:30px !important;	/* applies to each page in resulting pdf */
	font:11pt Times New Roman;
	line-height:1em;}
	
#container {padding:0 15px 15px 15px;}

	#cover-letter {font:bold 9pt Arial, Tahoma, Helvetica, sans-serif;}
	
	#logo {
		padding-bottom:0;
		text-align:center;}
	
	#container p, #container ul, #container h3, #container h4 {margin-bottom:15px;}
	
	#container h3 {font-size:11pt;}
	
	#container h4 {font-size:10pt;}
	
	#container ul {margin-left:50px;}
	
	#container table {width:100%;}
	
	#container th {
		text-align:left;
		font-weight:bold;}
		
	#signature {
		margin-top:0;
		font-weight:bold;}
		
		#signature p {margin-bottom:0;}
		
.newpage {page-break-before:always;}

.underline {text-decoration:underline;}

.answer {border-bottom:1px solid #000;}

.small {font-size:9pt;}

.highlight td {background-color:#ffff40;}

th .small {
	text-transform:none;
	font-weight:normal;}

.warning {
	font-style:italic;
	font-weight:bold;
	text-align:center;}
	
table.grid {
	padding-top:15px;
	border-collapse:collapse;
	border:1px solid #000;}
	
	table.grid td,
	table.grid th {
		padding:2px;
		vertical-align:middle;
		border:1px solid #000;}
		
	table.grid thead td,
	table.grid thead th {background-color:#ccc;}
		
	table.grid td table td,
	table.grid td table th {
		width:auto;
		border:0;}
		
	table.grid th {text-transform:uppercase;}

table#to-from td,
table#to-from th {
	width:50%;
	padding:0;}

table#to-from th {padding-left:10px;}

table#to-from thead td {color:#ccc;}

table#applicant {
	width:580px;
	margin:0 auto;
	padding-top:15px;}
	
	table#applicant td,
	table#applicant th {padding:5px;}
	
	table#applicant td table {width:300px;}
	
		table#applicant td table td {padding:0;}

table#premiums {padding-bottom:15px;}

	table#premiums td,
	table#premiums th {font-size:10pt;}
	
	table#premiums td p {margin-bottom:3px;}

table#ref td {
	padding-bottom:8px;
	font-style:italic;}

table#ref th {
	width:2%;
	text-align:right;}
	
td.disclose-premium span {display:block;}

td.disclose-premium em.smaller {font-size:8pt !important;}
#additionals{margin-bottom: 25px;}
#additionals p{margin-top: 10px;}

table.coverage-grid {
	padding-top:15px;
	border-collapse:collapse;
	border:1px solid #000;}
	
	table.coverage-grid td,
	table.coverage-grid th {
		padding:2px;
		vertical-align:middle;
		border:1px solid #000;}
		
	table.coverage-grid thead td,
	table.coverage-grid thead th {background-color:#ccc;}
		
	table.coverage-grid td table td,
	table.coverage-grid td table th {
		width:auto;
		border:0;}